/* Thème Sombre */
    @media (prefers-color-scheme: dark){
        /* Police */
        h1{
            color: #fff;
        }

        h2{
            color: #F2F2F2;
        }

        h3{
            color: #DDDDDD;
        }

        h4,
        h5,
        p,
        a,
        span{
            color: #FAFAFA;
        }

        h6,
        i,
        b{
            color: #ACACAC;
        }





        /* Background-color */
            .fond,
            .inscription>section>label{
                background-color: #121212;
            }

            .section.accueil>.block-text,
            .contenu>.choix>a,
            .carrousel>li>p,
            .cadre-connexion{
                background-color: #656565;
            }

            .bouton-menu-bar,.bouton-menu-bar::before,.bouton-menu-bar::after,
            .menu-open .bouton-menu-bar,
            .menu-open .bouton-menu-bar::before, .menu-open .bouton-menu-bar::after{
                background-color: #CACACA;
            }

            header,
            .menu,
            #connexion{
                background-color: rgba(20, 20, 20, 0.7);
            }

            @media (max-width: 1112px) {
                .section.accueil>.block-text{
                    background-color: #00000000;
                }
            }

            @media (min-width: 1113px) {
                .menu{
                    background-color: rgba(70, 70, 70, 1);
                }
            }





        /* Box-shadow */
            .contenu>.choix>a:hover,
            .section.accueil>.block-text,
            .visuel-projet,
            .carrousel>li>p,
            #cadre-connexion{
                box-shadow: #545454 0 0 10px;
            }

            @media (max-width: 1112px) {
                .section.accueil>.block-text{
                    box-shadow: none;
                }
            }





        /* SVG */
            .color-objet{
                fill: #CACACA;
                stroke: #CACACA;
            }

            .color-objet-fill{
                fill: #CACACA;
            }

            .color-objet-stroke{
                stroke: #CACACA;
            }
    }










/* Theme Clair */
    @media (prefers-color-scheme: light){
        /* Police */
            h1{
                color: #000;
            }

            h2{
                color: #080808;
            }

            h3{
                color: #333333;
            }

            h4,
            h5,
            h6,
            p,
            a,
            span{
                color: #060606;
            }

            h6,
            i,
            b{
                color: #545454;
            }





        /* Background-color */
            .fond,
            .inscription>section>label{
                background-color: #FBFBFB;
            }

            .section.accueil>.block-text,
            .contenu>.choix>a,
            .carrousel>li>p ,
            .cadre-connexion{
                background-color: #EFEFEF;
            }

            .bouton-menu-bar,.bouton-menu-bar::before,.bouton-menu-bar::after,
            .menu-open .bouton-menu-bar,
            .menu-open .bouton-menu-bar::before, .menu-open .bouton-menu-bar::after{
                background-color: #353535;
            }

            header,
            .menu,
            #connexion{
                background-color: rgba(203, 203, 203, 0.7);
            }

            @media (max-width: 1112px) {
                .section.accueil>.block-text {
                    background-color: #00000000;
                }
            }

            @media (min-width: 1113px) {
                .menu{
                    background-color: rgba(243, 243, 243, 1);
                }
            }





        /* Box-shadow */
            .contenu>.choix>a:hover,
            .section.accueil>.block-text,
            .visuel-projet,
            .carrousel>li>p,
            #cadre-connexion{
                box-shadow: #545454 0 0 15px;
            }

            @media (max-width: 1112px) {
                .section.accueil>.block-text{
                    box-shadow: none;
                }
            }






        /* SVG */
            .color-objet{
                fill: #353525;
                stroke: #353535;
            }

            .color-objet-fill{
                fill: #353525;
            }

            .color-objet-stroke{
                stroke: #353535;
                fill: none;
            }
    }










/* Tous thème */
    /* Footer */
        footer{
            background-color: #2F2F2F;
        }

        footer>div>section>div>a,
        footer>div>address>p,
        footer>div>address>a,
        footer>div>section>select,
        #langue-select-tel,
        footer>div>a{
            color: #FAFAFA;
        }

        .color-objet-stroke-footer{
            stroke: #FAFAFA;
        }

        .text-footer>section>select,
        #langue-select-tel{
            border: 1px #FAFAFA solid;
            background-color: #2F2F2F;
        }


    /* Autre élément */
        button{
            background-color: #BF5AA4;
        }

        button>a{
            color: #FAFAFA;
        }

        .flechebouton{
            fill: #FAFAFA;
        }

        hr{
            background-color: #BF5AA4;
            border: #BF5AA4 1px solid;
        }

        input[type="checkbox"]:checked,
        nav{
            background-color: #BF5AA4;
        }

        hr.hr-simple{
            background-color: #707070;
            border: 0;
        }

        .filtres{
            border-right:  #707070 1px solid;
        }

        .filtres>h5,
        .categorie-filtres,
        .barre-info.ordi{
            border-bottom: #707070 1px solid;
        }

        .categorie-filtres:last-of-type{
            border-bottom: none;
        }