/* Tout */
    html{
        scroll-padding-top: 90px;
    }

    html::-webkit-scrollbar,
    .app::-webkit-scrollbar{
        display: none;
    }

    body{
        margin: 0;
        padding: 0;
        width: 100vw;
        position: relative;
    }

    .app{
        width: 100%;
        margin: 0 auto;
        height: max-content;
    }

    .corps-page{
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 1400px;
        height: max-content;
        display: block;
    }










/* Ordinateur */
    /* Éléments cachés/affiché en fct de taille écran */
        /* Caché */
            .tel,
            .tablette,
            .bouton-tel,
            .cacher{
                display: none;
            }

        /* Affiché */
            footer,
            .ordi{
                display: block;
            }





/* header */
        header{
            width: calc(100% - 2 * 20px);
            height: 50px;
            min-width: 335px;
            -webkit-backdrop-filter: blur(30px); /* assure la compatibilité avec safari */
            backdrop-filter: blur(30px);
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            display: flex;
            padding: 0 20px;
        }

        header>*{
            margin: 0 10px;
        }

        header>h1{
            margin-top: 10px;
            width: 100%;
        }

        header>div{
            position: relative;
            height: 100%;
            width: max-content;
            margin: 0 5px;
        }

        header>div>a{
            position: relative;
            height: 100%;
            width: 100%;
            margin: 0;
        }

        header>div>a>svg{
            position: relative;
            height: 28px;
            width: auto;
            margin: 11px 10px;
        }

        header>div:first-of-type>a>svg{
            position: relative;
            width: auto;
            height: 36px;
            margin: 7px 10px;
        }

        header>div.membre-header{
            display: flex;

        }

        header>div.membre-header>a{
            width: max-content;
        }

        header>div>a>img{
            position: relative;
            width: auto;
            height: 36px;
            margin: 7px 3px;
        }

        header>div>a>h5{
            position: relative;
            margin: 17px 5px 0 0;
            height: max-content;
        }

        /* Connexion */
            #connexion{
                position: absolute;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                padding: 0;
                z-index: 9999;
                -webkit-backdrop-filter: blur(30px); /* assure la compatibilité avec safari */
                backdrop-filter: blur(30px);
            }

            .cadre-connexion{
                border-radius: 30px;
                width: 300px;
                height: max-content;
                padding: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            .cadre-connexion>img{
                width: auto;
                height: 10%;
                margin: 0;
                padding: 0;
            }

            .cadre-connexion>div>button,
            .inscription>button{
                float: none;
                margin: 20px auto;
            }







    /* APP */
        /* Généraux */
            .haut-page{
                text-align: center;
                width: 100%;
                height: max-content;
            }

            .haut-page>img{
                width: 100%;
                height: auto;
            }

            .presentation,
            .pagination>ul{
                display: flex;
            }

            /* Pagination */
            .pagination>ul{
                padding: 0;
            }

            .pagination>ul>li{
                width: 25px;
                height: 25px;
                text-align: center;
            }

            .pagination>ul>li:first-of-type{
                text-align: left;
            }

            .pagination>ul>li:last-of-type{
                text-align: right;
            }

            .presentation{
                margin: 90px 15px;
            }

            .presentation>img{
                width: 40%;
            }

            .presentation-text{
                width: calc(60% - 20px);
                margin: 25px 0 0 15px;
            }

            hr{
                width: 50%;
                height: 5px;
            }

            hr.hr-simple{
                width: 100%;
                height: 2px;
            }

            .corps-page{
                text-align: center;
            }

            button{
                width: max-content;

                height: 45px;
                padding: 0 10px;
                border-radius: 10px;
                border: #BF5AA4 solid 1px;
                float: right;
            }

            button>a>svg{
                vertical-align: top;
            }

            .logo-projet{
                width: 33px;
                height: auto;
                float: left;
                padding-right: 5px;
            }





        /* Accueil */
            .haut-page.accueil{
                margin-top: 90px;
            }

            .section.accueil{
                display: flex;
                position: relative;
                margin: 25px auto;
                text-align: center;
            }

            .section.accueil>img{
                position: relative;
                z-index: 30;
                left: 20%;
                width: 40%;
                min-width: 325px;
                height: auto;
            }

            .section.accueil>.block-text{
                width: 500px;
                height: border-box;
                padding: 10px;
                text-align: left;
                position: absolute;
                z-index: 50;
                margin: auto 0;
                border-radius: 10px;
                left: 50%;
                top: 50%;
                transform: translateX(-15%) translateY(-50%);
            }





        /* Projets */
            .corps-page.page-projets{
                display: flex;
            }

            /* Filtres */
                .filtres{
                    width: 190px;
                    height: max-content;
                    text-align: right;
                    padding-right: 10px;
                }

                .filtres>h5,
                .categorie-filtres,
                .categorie-filtres>h6{
                    margin: 15px 0;
                    padding-bottom: 10px;
                }

                .categorie-filtres>p{
                    margin: 0;
                }


            /* Contenu */
                .contenu{
                    width: calc(100% - 250px);
                    text-align: left;
                    padding: 0 25px;
                }


                /* Barre info suppérieure */
                    .barre-info.ordi{
                        width: 100%;
                        height: 53px;
                        display: flex;
                    }

                    .barre-info>div.tris{
                        position: relative;
                        margin: auto 0;
                        width: 100%;
                    }

                    .barre-info>div>select{
                        height: max-content;
                    }

                    .barre-info>p{
                        text-align: right;
                        margin-right: 20px;
                        width: 40%;
                    }

                    .barre-info.bas{
                        border-bottom: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .barre-info.bas>ul{
                        width: max-content;
                    }


                /* Carte projet*/
                    .contenu>.choix{
                        width: 100%;
                        height: max-content;
                        display: grid;
                        grid: auto-flow max-content / repeat(4, 1fr);
                        grid-gap: 25px;
                        padding: 25px 0;
                    }

                    .choix>a{
                        width: 100%;
                        min-height: max-content;
                        border-radius: 20px;
                    }

                    .choix>a:hover{
                        transform: scale(1.1);
                    }

                    .choix>a>img.visuel{
                        width: 100%;
                        height: auto;
                        border-radius: 20px 20px 0 0;
                    }

                    .choix>a>div{
                        margin: 10px;
                    }

                    .choix>a>div>h6{
                        width: calc(100% - 10px);
                        margin: 5px;
                    }





            /* Projet */
                .presentation.page-projet{
                    margin: 130px 0 40px;
                }

                .presentation.page-projet>div{
                    margin: 0 25px 0 40px;
                }

                .presentation.page-projet>div>h2{
                    margin: 0;
                }

                .section-projet{
                    width: 100%;
                    margin: 0 ;
                }

                .ligne-titre{
                    display: flex;
                    width: calc(100% - 100px);
                    margin-left: 100px;
                }

                .ligne-titre>h3{
                    width: 30%;
                    min-width: max-content;
                    margin: 0;
                    text-align: left;
                }
                .ligne-titre>hr{
                    width: 100%;
                    height: 23px;
                    margin: 2px 0 0;
                }

                .carrousel{
                    display: flex;
                    width: calc(100% - 100px);
                    overflow-x: scroll;
                    padding-left: 100px;
                }

                .carrousel>li{
                    margin: 20px 40px 50px;
                }

                .visuel-projet{
                    width: 345px;
                    height: 194.06px;
                    border-radius: 10px;
                }

                .carrousel>li:first-of-type{
                    margin-left: 0;
                }

                .avatar{
                    width: 190px;
                    height: auto;
                }

                .carrousel>li>p{
                    width: 325px;
                    height: 174.06px;
                    min-height: min-content;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 0;
                }

                .carrousel>li>div{
                    margin: 10px 0;
                }

                .carrousel>li>div>img{
                    float: left;
                }

                .carrousel>li>div>h6,
                .carrousel>li>a>div>h6{
                    width: 100%;
                    margin: 5px 0;
                }





            /* Mentions légales */
                .corps-page.mentions-legales{
                    width: calc(100% - 50px);
                    margin: 0 auto;
                }

                .corps-page.mentions-legales>section>hr{
                     margin-top: 50px;
                }

                .corps-page.mentions-legales>section>hr.mini{
                    width: 80px;
                    height: 5px;
                    margin: 0;
                }

                .corps-page.mentions-legales>section>h4{
                    margin: 35px 0 5px;
                }






            /* Inscription */
                .haut-page.inscription{
                    margin-top: 100px;
                }

                .inscription>section{
                    width: 300px;
                    height: max-content;
                    padding: 0 0 5px;
                    border-radius: 5px;
                    border: #545454 3px solid;
                    position: relative;
                    margin: 10px auto ;
                }

                .inscription>section>label{
                    position: absolute;
                    top: -10px;
                    left: 10px;
                    padding: 0 5px;
                }





    /* Footer */
        footer{
            position: relative;
            height: max-content;
            width: 100%;
            bottom: 0;
        }

        .text-footer{
            display: flex;
            width: 100%;
            height: max-content;
            max-width: 1600px;
            margin: 0 auto;
        }

        .text-footer>*{
            width: calc(100% / 3);
            min-width: max-content;
            height: max-content;
            margin: 25px 0;
        }

        .text-footer>address>p{
            margin: 0 0 12px;
        }

        .text-footer>address>a{
            line-height: 25px;
        }

        .logo-reseaux-footer{
            width: auto;
            height: 37px;
            margin: 0 0 10px 10px;
        }

        .logo-footer{
            height: 125px;
            width: auto;
        }

        .lien-footer{
            text-align: center;
            padding-bottom: 20px;
        }

        .text-footer>section>select,
        #langue-select-tel{
            border: 1px #FAFAFA solid;
            border-radius: 4px;
            padding: 5px;
        }


        @media (max-width: 1700px) {
            .text-footer{
                margin: 0 50px;
                width: calc(100% - 100px);
            }
        }










/* Tablette */
    @media (min-width: 1113px) {
        /* Éléments cachés/affiché en fct de taille écran */
            /* Affiché */


            /* Caché */
            .bouton-menu-bar {
                display: none;
            }





        /* Menu */
            .menu{
                display: block;
                position: fixed;
                z-index: 90;
                top: 50px;
                left: 0;
                width: 100%;
                height: 40px;
                margin: 0;
                padding: 0;
                -webkit-backdrop-filter: blur(30px); /* assure la compatibilité avec safari */
                backdrop-filter: blur(30px);
            }

            .menu>ul{
                width: 50%;
                height: 100%;
                margin: 0 auto;
                padding: 0;
                display: flex;
                text-align: center;
            }

            .menu>ul>li{
                margin: 0 auto;
                width: max-content;
                text-align: center;
                height: 100%;
                padding: 10px 0;
            }
    }

    @media (max-width: 1112px){
        /* Éléments cachés/affiché en fct de taille écran */
            /* Affiché */
                .tablette{
                    display: block;
                }

            /* Caché */
                header>div>a>h5,
                .fa-plus,
                .ligne-titre{
                    display: none;
                }





        /* Menu */
            .bouton-menu{
                width: 30px;
                height: 20px;
                top: 22px;
                align-items: center;
                justify-content: center;
                z-index: 101;
            }

            .bouton-menu-bar,.bouton-menu-bar::before,.bouton-menu-bar::after{
                content:"";
                width: 100%;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                left: 0;
                z-index: 9999;
                transition: all .4s ease-in-out;
            }

            .bouton-menu-bar::before{
                top: -6px;
            }

            .bouton-menu-bar::after{
                top: 6px;
            }

            .menu>ul{
                padding: 0;
                margin-top: 30px;
                margin-right: auto;
                margin-left: auto;
            }

            .menu>ul>li{
                margin: 20px;
            }

            .menu>ul>li>a:link{
                text-decoration: none;
            }

            .menu>ul>li>a:visited{
                text-decoration: none;
            }

            .menu{
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100vw;
                height: 100vw;
                display: flex;
                transform: translateX(100vw);
                transition: all 1s;
                margin: 0;
                -webkit-backdrop-filter: blur(30px); /* assure la compatibilité avec safari */
                backdrop-filter: blur(30px);
                z-index: 200;
            }

            .menu-open .menu{
                transform: translateX(0);
            }

            .menu-open, .menu-open>body{
                overflow: hidden;
            }

            .menu-open .bouton-menu-bar {
                transform: rotate(135deg);
            }

            .menu-open .bouton-menu-bar::before, .menu-open .bouton-menu-bar::after{
                transform: rotate(90deg);
                top: 0;
            }





        /* APP */
            /* Généraux */
                .presentation{
                    margin: 50px 0;
                }

                .presentation-text{
                    margin: 15px;
                }

                .presentation-text>h2{
                    margin: 0 0 15px;
                }

                .corps-page{
                    width: calc(100% - 30px);
                    margin: 15px;
                }

                button{
                    float: right;
                }

                html{
                    scroll-padding-top: 100px;
                }





                /* Accueil */
                    .section.accueil{
                        display: flex;
                        position: relative;
                        height: max-content;
                    }

                    .section.accueil>*{
                        position: relative;
                    }

                    .section.accueil>img{
                        position: relative;
                        left: 0;
                        top: 0;
                    }

                    .section.accueil>.block-text{
                        border-radius: 0;
                        box-shadow: none;
                        width: calc(100% - 20px);
                        min-height: max-content;
                        height: 100%;
                        position: relative;
                        left: 0;
                        top: 0;
                        transform: none;
                        margin-bottom: 70px;
                    }





                /* Projets */
                    .choix{
                        width: 100%;
                        height: max-content;
                        display: grid;
                        grid: auto-flow max-content / repeat(3, 1fr);
                        grid-gap: 25px;
                        padding: 25px 0;
                    }

                    .choix>a:hover{
                        transform: none;
                        box-shadow: none;
                    }




                /* Projet */
                    .nav{
                        width: 100%;
                        height: max-content;
                        margin: 0;

                    }

                    .nav>ul{
                        display: flex;
                        overflow-x: scroll;
                        width: calc(100% - 20px);
                        padding: 10px 0 10px 20px;
                        margin: 0;
                    }

                    .nav>ul>li{
                        margin: 0 60px;
                        padding: 0;
                    }

                    .nav>ul>li>a>h3{
                        margin: 0;
                        padding: 0;
                        white-space:nowrap;
                    }

                    .scroll-snap{
                        display: flex;
                        width: 100vw;
                        overflow-x: scroll;
                        overflow-y: hidden;
                        scroll-behavior: smooth;
                        scroll-snap-type: x mandatory;
                    }

                    .scroll-snap>*{
                        box-sizing: border-box;
                        width: 100vw;
                        flex: none;
                        flex-shrink: 0;
                        scroll-snap-align: center;
                        padding: 0;
                    }

                    .carrousel{
                        width: calc(100% - 50px);
                        height: max-content;
                        display: grid;
                        grid: auto-flow max-content / repeat(2, 1fr);
                        grid-gap: 25px;
                        padding: 25px;
                    }

                    .carrousel>li{
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: max-content;
                    }

                    #Appreciations>.carrousel>li{
                        width: max-content;
                        margin: 0 auto;
                        padding: 0;
                        position: relative;
                    }

                    #Acteurs>.carrousel{
                        grid: auto-flow max-content / repeat(4, 1fr);
                        grid-gap: 25px;
                        overflow-x: hidden;
                    }

                    @media (max-width: 910px) {
                        #Acteurs>.carrousel{
                            grid: auto-flow max-content / repeat(3, 1fr);
                            grid-gap: 25px;
                        }
                    }

                    #Acteurs>ul>li{
                        text-align: center;
                    }

                    .carrousel>li>img,
                    .carrousel>li>a>img.visuel-projet{
                        width: 100%;
                        height: auto;
                    }
    }










/* Téléphone & tablette en portrait*/
@media (max-width: 834px){
    /* Éléments cachés/affiché en fct de taille écran */
        /* Affiché */
            header>div:first-of-type,
            header>div.bouton-menu,
            .tel,
            .presentation,
            .section.accueil,
            .text-footer,
            .bouton-tel{
                display: block;
            }


        /* Caché */
            header>div,
            header>div>a>img,
            .footer-centre,
            .ordi,
            .barre-info.ordi,
            .filtres.ordi,
            .footer-centre,
            #langue-select,
            .text-footer>label{
                display: none;
            }





    /* Header */
        header{
            width: calc(100% - 10px);
            min-width: 365px;
            padding: 0 5px;
        }

        header>*{
            position: relative;
            width: 100%;
        }





    /* APP */
        /* Généraux */
            .haut-page,
            .haut-page.accueil{
                margin-top: 50px;
            }

            .presentation>img{
                width: 100%;
            }

            .presentation>div{
                width: 100%;
                margin: 15px;
            }







        /* Projets */
            .corps-page.page-projets{
                display: block;
            }

            .contenu{
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .barre-info.tel{
                display: flex;
                border-bottom: #808080 1px solid;
                width: 100%;
                margin: 0;
                padding: 0 0 10px;
            }

            .barre-info.tel>div{
                width: 100%;
            }


            .contenu>.choix{
                width: 100%;
                height: max-content;
                display: grid;
                grid: auto-flow max-content / repeat(2, 1fr);
                grid-gap: 25px;
                padding: 25px 0;
            }

            /* Version tel portrait */
                @media (max-width: 500px) {
                    .contenu>.choix{
                        width: 100%;
                        height: max-content;
                        display: grid;
                        grid: auto-flow max-content / repeat(1, 1fr);
                        grid-gap: 25px;
                        padding: 25px 0;
                    }
                }




        /* Projet */
            .presentation.page-projet{
                margin: 50px 0 20px;
            }

            .presentation.page-projet>.presentation-text{
                margin: 25px;
                width: calc(100% - 50px);
                height: max-content;
            }

            .carrousel{
                width: 100%;
                height: max-content;
                display: grid;
                grid: auto-flow max-content / repeat(1, 1fr);
                padding: 0;
            }

            .carrousel>li{
                margin: 0 auto;
                padding: 0;
                width: 345px;
                height: max-content;
                position: relative;
            }

            .carrousel>li:first-of-type{
                margin: 0 auto;
            }

            #Acteurs>.carrousel>li{
                width: max-content;
            }

            #Acteurs>.carrousel{
                grid: auto-flow max-content / repeat(2, 1fr);
                grid-gap: 25px;
            }

            @media (max-width: 500px) {
                #Acteurs>.carrousel{
                    grid: auto-flow max-content / repeat(1, 1fr);
                }
            }






    /* Footer */
        footer{
            padding: 25px 0;
        }

        .text-footer>*{
            width: 100%;
        }

        .footer-gauche{
            margin: 0;
        }

        .footer-droit{
            display: flex;
            width: 100%;
        }

        .footer-droit>*{
            margin: 0;
            width: 100%;
            text-align: center;
        }

        .footer-droit>label,
        .footer-droit>label{
            width: 0;
            margin: 0;
        }

        .footer-droit>div>a>svg{
            margin: 0 10px;
        }

        .logo-reseaux-footer{
            width: 40px;
            height: auto;
        }

        .lien-footer{
            width: calc(100% - 30px);
            margin: 0 15px;
        }

        .text-footer>address>p{
            margin: 0;
        }

        .bouton-tel{
            width: 100%;
            text-align: center;
        }
    }